{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block title %}
    测试问题平台--首页
{% endblock %}

{% block main %}
    <ul class="question-ul">
        {% for question in questions %}
            <li>
                <div class="side-question">
                    <img class="side-question-avatar" src="{{ url_for('static',filename="images/doro娘.png") }}" alt="">
                </div>
                <div class="question-main">
                    <div class="question-title"><a href="{{ url_for('qa.qa_detail', qa_id=question.id) }}">{{ question.title }}</a></div>
                    <div class="question-content">{{ question.content }}</div>
                    <div class="question-detail">
                        <a href="#">{{question.author.username}}</a>
                        <span class="create-time">{{ question.create_time.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
{% endblock %}